body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    color: #E89F0C;
}

nav {
    font-size: xx-large;
    margin-left: 1.5vw;
    font-family: 'Bungee Inline', cursive;
    font-weight: bold;
}

.nav-link {
    float: right;
    font-size: large;
    margin: 10px 20px;
    padding: 0;
}

a.navbar-brand:hover, .btn:hover {
    background-color: #E89F0C;
    color: white;
}

a.img-portfolio:hover {
    opacity: 0.65;
    background-color: #E89F0C;
}

hr {
    border: 1px solid #cccccc;
    width: 97vw;
}

hr.header {
    margin: 10px 12.5vw 0 12.5vw;
    width: 75vw;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
}

h1.animated {
    display: block;
    margin: 10px 12.5vw 0px 12.5vw;
    animation-name: h1-animated;
    animation-duration: 3s;
}

@keyframes h1-animated {
    0% {
        opacity: .5;
    }
    35% {
        opacity: 1;
    }
    40% {
        color: gray;
    }
    50% {
        opacity: 1;
    }
    60% {
        background-color: gray;
    }
    75% {
        opacity: 0;
        color: gray;
    }
    80% {
        opacity: 1;
    }
    100% {
        background-color: initial;
    }
}

p {
    line-height: 150%;
    font-size: large;
    margin: 10px 0 20px 0;
}

p.no-bottom-margin {
    clear: both;
    margin-bottom: 0;
}

.index-indent {
    margin: 2vh 12.5vw;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0 20px 0 20px;
    font-size: large;
}

li {
    line-height: 150%;
}

.profile-pic {
    float: left;
    margin: 5px 20px 5px 0;
}

.portfolio-line-items {
    position: relative;
    margin: 20px 0 0 5vw;
}

.dsc-portfolio {
    float: left;
    width: 60vw;
    margin: 10px 10px 10px 20px;
    font-size: x-large;
    line-height: 125%;
}

.img-portfolio {
    float: left;
    width: 30vw;
    border-left: 1px solid black;
}

.float-left {
    float: left;
    /* vertical-align: text-top; */
}

.line-item {
    margin: 20px 0;
}

.line-item::after {
    content: "";
    clear: both;
    display: table;
}

.ttl-portfolio {
    float: left;
    margin: 0 20px;
    width: 60vw;
    background-color: gray;
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}

.hr-portfolio {
    width: 70vw;
    margin: 0 auto;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #666666;
    color: white;
    text-align: center;
    font-size: medium;
    width: 100%;
}

@media only screen and (max-width: 900px) {
    nav {
        font-size: large;
        margin-left: 10px;
    }
    .nav-link {
        font-size: small;
        margin: 5px 10px;
    }
    .menu {
        display: block;
        font-size: small;
    }
    .index-indent {
        margin: 2vh 6.25vw;
    }
    .portfolio-line-items {
        position: relative;
        margin: 10px 0 0 5vw;
    }
    .dsc-portfolio {
        float: left;
        width: 55vw;
        margin: 0 10px;
        font-size: small;
        line-height: 100%;
    }
    .img-portfolio {
        float: left;
        width: 30vw;
        border-left: 1px solid black;
    }
    .line-item {
        margin: 10px 0;
    }
    .ttl-portfolio {
        float: left;
        margin: 0 10px;
        height: 3vh;
        width: 55vw;
        font-size: small;
        padding: 0px;
    }
    h1 {
        font-size: x-large;
    }
    hr.under-headline {
        margin: 10px 0 5px 0;
    }
    ul {
        margin: 0;
    }
    .text-align-center {
        text-align: center;
    }
    .width-180 {
        width: 180px;
    }
    .footer {
        font-size: small;
    }
}

@media only screen and (max-width: 600px) {}